body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: aliceblue;
  overflow: hidden;
}

ul,
div,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: italic;
}